In [7]:
import matplotlib.pyplot as plt
from kneed import KneeLocator
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
import pandas as pd
df = pd.read_csv("scraping.csv")
df

      Unnamed: 0                                               text
0              0  Timestamp :\n0:00 opening\n0:25 disclaimer \n1...
1              1  Team speaker Eggel, sudah punya yang Eggel Fit...
2              2  Wah kebetulan lagi nyari Speaker Bluetooth yan...
3              3  Masih QCY Box 2 tetap di hati, gua punya speak...
4              4  This is where local industries start rising. P...
...          ...                                                ...
1419        1419                                                nah
1420        1420                                          Tod bacod
1421        1421         sori gw dislike, textnya mengganggu gambar
1422        1422                                             Rinrei
1423        1423                                                 31

[1424 rows x 2 columns]

In [8]:
def clean(a,b):
    df['text']= df['text'].str.replace(a,b)

df['text'] = df['text'].astype(str).str.lower()
df.text = df.text.str.replace('\d+', '')
clean('.','')
clean(',','')
clean('-','')
clean('/','')
clean(':','')

df

C:\Users\jhonm\AppData\Local\Temp\ipykernel_2276\3028894041.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df.text = df.text.str.replace('\d+', '')
C:\Users\jhonm\AppData\Local\Temp\ipykernel_2276\3028894041.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['text']= df['text'].str.replace(a,b)

      Unnamed: 0                                               text
0              0  timestamp \n opening\n disclaimer \n iklan kop...
1              1  team speaker eggel sudah punya yang eggel fit ...
2              2  wah kebetulan lagi nyari speaker bluetooth yan...
3              3  masih qcy box  tetap di hati gua punya speaker...
4              4  this is where local industries start rising pr...
...          ...                                                ...
1419        1419                                                nah
1420        1420                                          tod bacod
1421        1421          sori gw dislike textnya mengganggu gambar
1422        1422                                             rinrei
1423        1423

[1424 rows x 2 columns]

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
x = vectorizer.fit_transform(df['text'].values.astype('U'))  
x = x.toarray()

In [14]:
from sklearn.cluster import OPTICS
model = OPTICS(min_samples=10)
model.fit(x)
labels=model.labels_
new_df=pd.DataFrame(list(zip(df['text'],labels)),columns=['title','cluster'])
print(new_df.sort_values(by=['cluster']))
new_df.to_csv('new.csv')

                                                  title  cluster
711   guru bahasa inggris ngakak di pojokan denger e...       -1
926                  jbl ori itu bukan nya diatas  bang       -1
925                 di kemana nanti semua barang itu kk       -1
924   hmm baru mau beli eggel fit  eh udah abis stoknya       -1
923               fix jbl go  positif barang kw  wkwkkw       -1
...                                                 ...      ...
1389                                              eh eh        1
1361                                        sound eh eh        1
1376                                    nyari "eh eh"?         1
1405                                              eh eh        1
1404                                              eh eh        1

[1424 rows x 2 columns]

c:\Users\jhonm\anaconda3\lib\site-packages\sklearn\cluster\_optics.py:903: RuntimeWarning: divide by zero encountered in true_divide
  ratio = reachability_plot[:-1] / reachability_plot[1:]